<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= getFile('css/form.css') %>">
    <link rel="stylesheet" href="<%= getFile('css/main.css') %>">
    <title>Document</title>
</head>
<body>
    <%- include('components/header.ejs') -%>
    
    <form action="/login" method="post">
        <div class="title">
            <h1>LOGIN</h1>
        </div>
        <div class="inputs">
            <div class="element">
                <span>Username</span>
                <input type="text" name="username">
            </div>
            <div class="element">
                <span>Password</span>
                <input type="password" name="password">
            </div>
            <% if (typeof error != "undefined") { %>
            <div class="element">
                <span><%= error %></span>
            </div>
            <% } %>
            <button>SIGN IN</button>
        </div>
    </form>

    <% if (typeof alert != "undefined") { %>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
                title: "<%= alert.title %>",
                text: "<%= alert.message %>",
                icon: "<%= alert.icon %>",
                showConfirmButton: "<%= alert.showConfirmButton %>",
                confirmButtonColor: "#28a745",
                timer: "<%= alert.time %>",
            }).then(() => {
                window.location = "/<%= alert.ruta %>"
            })
        </script>
    <% } %>
</body>
</html>